

.content {
    content: pre-line;
    overflow: hidden;
    height: calc(var(--month-block-height) - 57px);
    font-size: 12px;
}

.month_block {
    border: 1px solid #dfe1e6;
    width: var(--month-block-width);
    height: var(--month-block-height);
    box-sizing: border-box;
    position: relative;
    padding: 10px 0 0 10px;
    cursor: pointer;
}